####################################
#
# CMS Production specific schedd config
#
# This file re-defines some variables that
# were set in the generic 80_*
# so must use a higher number
#
####################################

#
# CERN uses a different port for the shared port daemon
#
SHARED_PORT_ARGS = -p 4080

