#
# Base configuration values needed for an HAD setup
#

HAD_CONNECTION_TIMEOUT = 2
HAD_USE_PRIMARY = true

## The location of executable files
HAD         = $(SBIN)/condor_had
REPLICATION = $(SBIN)/condor_replication
TRANSFERER  = $(SBIN)/condor_transferer

## DC_Daemon list should contain at least these five
DC_DAEMON_LIST = +HAD, REPLICATION

## Enables/disables the replication feature of HAD daemon
## Default: no
HAD_USE_REPLICATION = true

## Name of the file from the SPOOL directory that will be replicated
## Default: $(SPOOL)/Accountantnew.log
STATE_FILE = $(SPOOL)/Accountantnew.log

## Period of time between two successive awakenings of the replication daemon
## Default: 300
REPLICATION_INTERVAL = 300

# Period of time, in which transferer daemons have to accomplish the
## downloading/uploading process
## Default: 300
MAX_TRANSFERER_LIFETIME = 300

## Period of time between two successive sends of ClassAds to the collector by HAD
## Default: 300
HAD_UPDATE_INTERVAL = 300

## The HAD controls the negotiator, and should have a larger
## backoff constant
MASTER_NEGOTIATOR_CONTROLLER    = HAD
MASTER_HAD_BACKOFF_CONSTANT     = 360

## The size of the log file
MAX_HAD_LOG = 640000
## debug level
HAD_DEBUG = D_COMMAND
## location of the condor_had log file
HAD_LOG = $(LOG)/HADLog

## The size of replication log file
MAX_REPLICATION_LOG = 640000
## Replication debug level
REPLICATION_DEBUG = D_COMMAND
## Replication log file
REPLICATION_LOG = $(LOG)/ReplicationLog

## The size of transferer log file
MAX_TRANSFERER_LOG = 640000
## Replication debug level
TRANSFERER_DEBUG = D_COMMAND
## Replication log file
TRANSFERER_LOG = $(LOG)/TransferLog

HAD_PORT = 9617
HAD_ARGS = -p $(HAD_PORT)
HAD_LIST = \
        $(CONDOR_HOST1):$(HAD_PORT), \
        $(CONDOR_HOST2):$(HAD_PORT)

REPLICATION_PORT = 9616
REPLICATION_ARGS = -p $(REPLICATION_PORT)
REPLICATION_LIST = \
        $(CONDOR_HOST1):$(REPLICATION_PORT), \
        $(CONDOR_HOST2):$(REPLICATION_PORT)

# Since we now have two collectors, forward just to the local one
CONDOR_VIEW_HOST = $(FULL_HOSTNAME)

# Now we actually start the daemons, too
DAEMON_LIST = $(DAEMON_LIST), HAD, REPLICATION

