#
# Change config to have 2 collectors
#

# These two are jsut placeholders
# You will want to change them in later files
CONDOR_HOST1=$(FULL_HOSTNAME)
CONDOR_HOST2=$(FULL_HOSTNAME)


CONDOR_HOST=$(CONDOR_HOST1),$(CONDOR_HOST2)
COLLECTOR_HOST1=$(CONDOR_HOST1):9618
COLLECTOR_HOST2=$(CONDOR_HOST2):9618
COLLECTOR_HOST=$(COLLECTOR_HOST1),$(COLLECTOR_HOST2)

