###################################
#
# This include file should be used
# if Condor is not installed as root
#
####################################

GSI_DAEMON_CERT =  /home/condor/.globus/hostcert.pem
GSI_DAEMON_KEY = /home/condor/.globus/hostkey.pem
CERTIFICATE_MAPFILE= $(LOCAL_DIR)/condor_mapfile
COLLECTOR_MAX_FILE_DESCRIPTORS =1024
