############################################
#
# CMS Specific tunning
#
###########################################

# This is used by ViewHost
UPDATE_COLLECTOR_WITH_TCP = true

# Set a high enough default, so it can be lowered on a per-user basis
DEFAULT_PRIO_FACTOR=100.0
REMOTE_PRIO_FACTOR=100.0

# For any other tweaking of the Negotiator logic, please use
# either 92_*_policy.config or 99_local_tweaks.config 

