############################################
#
# CMS Specific tunning
#
# The numbers may need to be tweaked,
# depending on the size of the HW
#
###########################################

#
# Increase limits, since we are heavy users
#
SCHEDD_QUERY_WORKERS = 20
SHARED_PORT_MAX_WORKERS = 1000

MAX_CONCURRENT_UPLOADS = 300
MAX_CONCURRENT_DOWNLOADS = 300

# 
# Also increase the running limit
#
MAX_JOBS_RUNNING = 30000

# increase the number of file descriptors, as we see them being exhausted
MAX_FILE_DESCRIPTORS=4096

