#######################
#
# CMS Specific log config
# We want to be able to do
# forensics when needed
#
# Defaults are reasonable, 
# but admins may want to tweak 
# based on HW size
#
#######################

# Schedd and Shadow logs
MAX_NUM_SCHEDD_LOG=10
MAX_NUM_SHADOW_LOG=10
MAX_SCHEDD_LOG   = 100000000
MAX_SHADOW_LOG  = 100000000

# History logs
MAX_HISTORY_ROTATIONS=10
MAX_HISTORY_LOG = 200000000

# Event logs
EVENT_LOG_MAX_ROTATIONS=10
MAX_EVENT_LOG=500000000

