##################################
#
# CMS specific setup for schedd
#
# There should never be the need
# to change this file by an admin
#
##################################

#
# This is a Schedd machine
#
DAEMON_LIST   = MASTER, SCHEDD, SHARED_PORT

# Shared port info
# Ideally, this should come from glideinWMS templates
# but currently does not
USE_SHARED_PORT = True
SHARED_PORT_ARGS = -p 9615

#
# We use LastVacateTime in the Requirements
# We just check for existence, so heavily round
# to reduce the number of autoclusters
#
SCHEDD_ROUND_ATTR_LastVacateTime = 4

#
# Add CMS-specific Job/glidein information 
# (gwms provides a lot but not these)
#
JOB_GLIDEIN_CMSSite = "$$(GLIDEIN_CMSSite:Unknown)"
JOB_GLIDEIN_SEs = "$$(GLIDEIN_SEs:Unknown)"
SUBMIT_EXPRS = $(SUBMIT_EXPRS) JOB_GLIDEIN_CMSSite JOB_GLIDEIN_SEs

#
# Add FE specific info
# (gwms provides a lot but not these)
#
JOB_GLIDECLIENT_Name = "$$(GLIDECLIENT_Name:Unknown)"
SUBMIT_EXPRS = $(SUBMIT_EXPRS) JOB_GLIDECLIENT_Name

#
# Add also some debugging info
# I.e. what the limits were
#
JOB_GLIDEIN_Max_Walltime = "$$(GLIDEIN_Max_Walltime:Unknown)"
JOB_GLIDEIN_Job_Max_Time = "$$(GLIDEIN_Job_Max_Time:Unknown)"
JOB_GLIDEIN_ToRetire = "$$(GLIDEIN_ToRetire:Unknown)"
JOB_GLIDEIN_ToDie = "$$(GLIDEIN_ToDie:Unknown)"
JOB_GLIDEIN_MaxMemMBs = "$$(GLIDEIN_MaxMemMBs:Unknown)"
JOB_GLIDEIN_Memory = "$$(Memory:Unknown)"

SUBMIT_EXPRS = $(SUBMIT_EXPRS) JOB_GLIDEIN_Max_Walltime JOB_GLIDEIN_Job_Max_Time JOB_GLIDEIN_ToRetire JOB_GLIDEIN_ToDie JOB_GLIDEIN_MaxMemMBs JOB_GLIDEIN_Memory

#
# Add forensics info
#

# These are generic, but gwms does not provide it
EVENT_LOG = $(LOG)/EventLog

EVENT_LOG_JOB_AD_INFORMATION_ATTRS=Owner
EVENT_LOG_JOB_AD_INFORMATION_ATTRS=$(EVENT_LOG_JOB_AD_INFORMATION_ATTRS),\
  RemoteHost,JOB_Site,JOB_GLIDEIN_Entry_Name,JOB_GLIDEIN_Name,\
  JOB_GLIDEIN_Factory,JOB_GLIDEIN_Schedd,JOB_GLIDEIN_Schedd,\
  JOB_GLIDEIN_ClusterId,JOB_GLIDEIN_ProcId,JOB_GLIDEIN_Site

EVENT_LOG_JOB_AD_INFORMATION_ATTRS=$(EVENT_LOG_JOB_AD_INFORMATION_ATTRS),\
  MATCH_GLIDEIN_Entry_Name,MATCH_GLIDEIN_ProcId,MATCH_GLIDEIN_Site,\
  MATCH_GLIDEIN_Factory,MATCH_GLIDEIN_Schedd,MATCH_GLIDEIN_ClusterId,\
  MATCH_GLIDEIN_Name

# These are really CMS specific
# While not essential, may make life easier
EVENT_LOG_JOB_AD_INFORMATION_ATTRS=$(EVENT_LOG_JOB_AD_INFORMATION_ATTRS),\
  JOB_GLIDEIN_CMSSite,JOB_GLIDEIN_SEs,JOB_GLIDECLIENT_Name

EVENT_LOG_JOB_AD_INFORMATION_ATTRS=$(EVENT_LOG_JOB_AD_INFORMATION_ATTRS),\
  MATCH_GLIDEIN_CMSSite,MATCH_GLIDEIN_SEs,MATCH_GLIDECLIENT_Name

#
# Prevent jobs from restarting forever
#
SYSTEM_PERIODIC_REMOVE = ((NumJobStarts>9)=?=True)||((NumShadowStarts>19)=?=True)

# Get rid of the annoying warnings of recent Condor version
ENABLE_DEPRECATION_WARNINGS = false

# send updates with TCP
# Since we mostly work in WAN environemtns, we want to avoid loosing schedd updates
UPDATE_COLLECTOR_WITH_TCP = true
