############################################
#
# CMS Specific tunning
#
# The numbers may need to be tweaked,
# depending on the size of the HW
#
###########################################

# We can have several outstanding condor_status,
# so increase the number of forks allowed
COLLECTOR_QUERY_WORKERS = 16

# Keep negotiation limits low
# to avoid a slow schedd to overwhelm the whole system
NEGOTIATOR_MAX_TIME_PER_SUBMITTER=20
NEGOTIATOR_MAX_TIME_PER_PIESPIN=10

# put also the abs max (for versions that support it)
# since after a while we know the glidins go away
NEGOTIATOR_MAX_TIME_PER_CYCLE=900
