####################################
#
# CMS Production specific schedd config
# CERN collector variant
#
# The should be no need for the admins 
# to ever change this file
#
####################################

#
# Point to the collector node
#
CONDOR_HOST = vocms97.cern.ch

############################
# Grid Certificate directory
# imported from AFS
############################
GSI_DAEMON_TRUSTED_CA_DIR=/afs/cern.ch/project/gd/LCG-share/certificates

############################
# Credentials
# in user space
############################
GSI_DAEMON_CERT = /data/certs/hostcert.pem
GSI_DAEMON_KEY  = /data/certs/hostkey.pem

#
# Add Collector and Frontend DNs
# Make sure you also prepend 
#  80_cms_schedd_cern_prod.mapfile
# to the condor_mapfile 
#
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),\
/DC=ch/DC=cern/OU=computers/CN=vocms97.cern.ch,\
/DC=ch/DC=cern/OU=computers/CN=vocms157.cern.ch

#
# May want to create a common UID_DOMAIN eventually
#
# UID_DOMAIN=cmsprod
#
UID_DOMAIN=$(FULL_HOSTNAME)

#
# All errors should go to the appropriate people
#
CONDOR_ADMIN = marian.zvada@cern.ch,alison.jean.mc.crea@cern.ch

#
# For performance reasons, use a ramdisk
#
SPOOL = /mnt/ramdisk/spool



