####################################
#
# CMS Production specific schedd config
#
# This file re-defines some variables that
# were set in the generic 80_*
# so must use a higher number
#
####################################

#
# CERN uses a different port for the shared port daemon
#
SHARED_PORT_ARGS = -p 4080

#
# Currently only production check the disk usage
#
SYSTEM_PERIODIC_REMOVE = ($(SYSTEM_PERIODIC_REMOVE)) || ((DiskUsage>27000000)=?=True)

