####################################
#
# The should be no need for the admins 
# to ever change this file
#
####################################

#
# Add Collector and Frontend DNs
# Make sure you also prepend 
#  80_cms_schedd_anaops_ucsd.mapfile
# to the condor_mapfile 
#
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),\
/DC=ch/DC=cern/OU=computers/CN=vocms097.cern.ch,\
/DC=ch/DC=cern/OU=computers/CN=vocms099.cern.ch,\
/DC=ch/DC=cern/OU=computers/CN=frontend01/vocms0167.cern.ch,\
/DC=ch/DC=cern/OU=computers/CN=cmspilot01/vocms0167.cern.ch,\
/DC=ch/DC=cern/OU=computers/CN=p01001456783585.cern.ch

