####################################
#
# The should be no need for the admins 
# to ever change this file
#
####################################

#
# 85, since it builds on 80_ucsd
#
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),\
/DC=ch/DC=cern/OU=computers/CN=vocms097.cern.ch,\
/DC=ch/DC=cern/OU=computers/CN=vocms099.cern.ch,\
/DC=ch/DC=cern/OU=computers/CN=frontend01/vocms0167.cern.ch,\
/DC=ch/DC=cern/OU=computers/CN=cmspilot01/vocms0167.cern.ch

