####################################
#
# CMS Anaops specific schedd config
# UCSD collector variant
#
# The should be no need for the admins 
# to ever change this file
#
####################################

#
# Point to the collector node
#
CONDOR_HOST1=glidein-collector.t2.ucsd.edu
CONDOR_HOST2=glidein-collector-2.t2.ucsd.edu

#
# Add Collector and Frontend DNs
# Make sure you also prepend 
#  80_cms_schedd_anaops_ucsd.mapfile
# to the condor_mapfile 
#
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),\
/DC=com/DC=DigiCert-Grid/O=Open Science Grid/OU=Services/CN=glidein-collector.t2.ucsd.edu,\
/DC=com/DC=DigiCert-Grid/O=Open Science Grid/OU=Services/CN=glidein-collector-2.t2.ucsd.edu,\
/DC=ch/DC=cern/OU=computers/CN=frontend01/vocms0167.cern.ch

#
# Create a common UID_DOMAIN
#
UID_DOMAIN=cmsanalysis

#
# All errors should go to the AnaOps mailing list
#
CONDOR_ADMIN = cms-wms-support@physics.ucsd.edu

