#######################
#
# CMS Specific config file
# to be used on schedds
# serving the CRAB2
# Remote Condor setups
#
#######################

#
# Add the needed attributes in the 
# user log, so they can be parsed out
# by the new condor_history
#

Used_Gatekeeper = "$$(GLIDEIN_Gatekeeper:Unknown)"
JOB_CMSSite = "$$(GLIDEIN_CMSSite:Unknown)"
# the userlog will have Used_Gatekeeper defined at job runtime
# and MATCH_GLIDEIN_Gatekeeper at job termination
# but never both
JOB_Gatekeeper = ifthenelse(\
 substr(Used_Gatekeeper,0,1)=!="$", Used_Gatekeeper, \
  ifthenelse(\
    MATCH_GLIDEIN_Gatekeeper=!=UNDEFINED,MATCH_GLIDEIN_Gatekeeper,\
    "Unknown"))
SUBMIT_EXPRS = $(SUBMIT_EXPRS) JOB_Gatekeeper JOB_CMSSite Used_Gatekeeper

# this assumes noone else is defining the list
job_ad_information_attrs = MATCH_GLIDEIN_Gatekeeper, JOB_Gatekeeper,\
Used_Gatekeeper, JOB_CMSSite
 
# in the Condor logic, this is a user-provided attribute
# so tell the schedd to treat it as such
SUBMIT_EXPRS = $(SUBMIT_EXPRS) job_ad_information_attrs


