#
# Thsi files contains che changes needed by CRAB3
#

# Older version of Condor used a lower default
GSI_DELEGATION_KEYBITS = 1024

# Enable Condor-C full  delegation, 
# but keep the delegation to worker nodes limited and short
DELEGATE_FULL_JOB_GSI_CREDENTIALS = True
SHADOW.DELEGATE_FULL_JOB_GSI_CREDENTIALS = False
DELEGATE_JOB_GSI_CREDENTIALS_LIFETIME = 0
SHADOW.DELEGATE_JOB_GSI_CREDENTIALS_LIFETIME = 86400

# Whitelist the CRAB3 servers
SCHEDD.ALLOW_WRITE = */crab3-gwms-2.cern.ch, */$(FULL_HOSTNAME), */mmascher-poc.cern.ch, */hammer-crab3.cern.ch,*/c3p1.cern.ch, */vocms244.cern.ch, */vocms245.cern.ch
SCHEDD.HOSTALLOW_WRITE =

# Limit the number of dagmans
START_SCHEDULER_UNIVERSE = TotalSchedulerJobsRunning < 250

