#
# Thsi files contains che changes needed by CRAB3
#

# Older version of Condor used a lower default
GSI_DELEGATION_KEYBITS = 1024

# Enable Condor-C full  delegation, 
# but keep the delegation to worker nodes limited and short
DELEGATE_FULL_JOB_GSI_CREDENTIALS = True
SHADOW.DELEGATE_FULL_JOB_GSI_CREDENTIALS = False
DELEGATE_JOB_GSI_CREDENTIALS_LIFETIME = 0
SHADOW.DELEGATE_JOB_GSI_CREDENTIALS_LIFETIME = 86400

# Whitelist the CRAB3 servers
SCHEDD.ALLOW_WRITE = */crab3-gwms-2.cern.ch, */$(FULL_HOSTNAME), */mmascher-poc.cern.ch, */hammer-crab3.cern.ch,*/c3p1.cern.ch, */vocms244.cern.ch, */vocms245.cern.ch
SCHEDD.HOSTALLOW_WRITE =

# Limit the number of dagmans
START_SCHEDULER_UNIVERSE = TotalSchedulerJobsRunning < 250

# This config variable provides information to the CRAB3 schedd startup 
# script (see dag_bootstrap_startup.sh and AdjustSites.py) about how to transform
# paths on disk to something web-visible.  The web visible directory is then used
# for monitoring URLs such as glidemon or Dashboard.
# This is kept in the HTCondor config file to avoid having to maintain a separate CRAB3
# configuration file on this host
CRAB_StorageRules = ^/home/grid,http://$(FULL_HOSTNAME)/mon


